---
---

<!DOCTYPE html>
<html>
  <head>
    <title>
      {{page.title}} - {{site.initials}}
    </title>
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/default.css">
  </head>
  <body>
    <header>
      <!-- Todo... -->
    </header>
    <main>
      <h1>
        {{page.title}}
      </h1>
      {{content}}
    </main>
    <footer>
      <a href="/license">
        Unlicense
      </a>
    </footer>
  </body>
</html>